.container .title {
  color: #fff;
  font-size: 2rem;
  margin-top: 3rem;
  padding-left: 1.3rem;
}
.title .query-text {
  color: #d80202;
}
.motion-container{
  overflow: hidden;
  cursor: grab;
  width: 100%;
}
.movies-container {
  display: flex;
  padding: 1rem;
  width: 100%;
}
.movies-container div {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff; 
  margin-bottom: 2.5rem;
  background-color: #111;
  padding: 1rem;
  margin: 5px;
}
.movies-container div img {
  width: 200px;
}
.movies-container div img,
.movies-container div p {
  margin-bottom: 0.8rem;
}
.movies-container div h2 {
  font-weight: lighter;
  font-size: 1rem;
}
.movies-container div p {
  font-weight: lighter;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
.movies-container div svg {
  color: #f7d354;
}
.movies-container div a {
  background-color: #d80202;
  border: 2px solid #d80202;
  border-radius: 4px;
  color: #000;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
}
.movies-container div a:hover {
  background-color: transparent;
  color: #d80202;
}

.btn{
  background-color: #d80202;
  border: 2px solid #d80202;
  border-radius: 4px;
  color: #000;
  padding: 0.4rem;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  max-width: 5rem;
}
.btn:hover {
  background-color: transparent;
  color: #d80202;
}
