::-webkit-scrollbar
    width: 10px


::-webkit-scrollbar-track
    background-color: variables.$scrollbar-bg


::-webkit-scrollbar-thumb
    background-color: variables.$color-dark-red
    border-radius: 40px
